[2016-11-07 19:15] andreas opened #1 "Argument support"
Arguments for resolver functions and input object are currently not supported. Adding support for arguments could be either in a typed or untyped fashion.

For the untyped approach, the resolver function simply receives an `Args.t` argument, which provides functions to get typed arguments. These functions return `result` types, since the conversion may fail. Example:

[code]

The typed approach is

[2016-11-07 20:17] andreas opened #2 "Asynchronous resolvers"
It should be possible to return a `Lwt.t` or `Async.t` from the `resolve`-function of a field. A likely solution is to functorize the execution over an `IO` monad.

[2016-11-07 20:19] andreas opened #3 "Non-nullable as the default"
Fields are currently nullable, as is default in GraphQL, which feels a bit backwards in OCaml. Required fields need to make use of `Schema.non_null`, which is part of the `('ctx, 'src) typ` GADT:

[code]

The opposite would be to have a type required by default and made optional with a decorator:

[code]

This makes introspection more complicated though, since introspected types must be exposed as

[2016-11-07 20:20] andreas opened #4 "Mutation support"
See https://facebook.github.io/graphql/#sec-Executing-Operations.

[2016-11-07 20:27] andreas opened #5 "Variable support"
See:

- https://facebook.github.io/graphql/#sec-Language.Variables
- https://facebook.github.io/graphql/#sec-Validation.Variables
- https://facebook.github.io/graphql/#sec-Coercing-Variable-Values

[2016-11-07 20:29] andreas opened #6 "Interface support"
See:

- https://facebook.github.io/graphql/#sec-Interfaces
- https://facebook.github.io/graphql/#sec-Interface
- https://facebook.github.io/graphql/#sec-Field-Selections-on-Objects-Interfaces-and-Unions-Types

[2016-11-07 20:29] andreas opened #7 "Union support"
See:

- https://facebook.github.io/graphql/#sec-Unions
- https://facebook.github.io/graphql/#sec-Union
- https://facebook.github.io/graphql/#sec-Field-Selections-on-Objects-Interfaces-and-Unions-Types

[2016-11-09 00:04] kennetpostigo opened #8 "Make use of GraphQL Schema Language?"
It would be really beneficial for people familiar with GraphQL who want to leverage the performance of OCaml if the OCaml GraphQL server could be created using the GraphQL Schema Language. The good folks working on Apollo have been able to get this working in Javascript. Not sure how you would go about doing this in OCaml but i'm sure it can be done. Take a look [here](https://github.com/apollosta

[2016-11-10 13:31] andreas commented on #8
That's an interesting idea, thanks for highlighting this!

[2016-11-10 14:46] kennetpostigo commented on #8
@andreas No problem at all :)

[2016-11-20 21:22] andreas commented on #3
This has been implemented.

[2016-11-20 21:22] #3 closed

[2016-11-21 00:14] sgrove commented on #2
This seems pretty critical for any real OCaml app - even our DB queries are `Lwt.t`/`Async.t`.

[2016-12-04 15:44] #1 closed

[2016-12-13 22:22] kennetpostigo commented on #8
Hey really interested in this and have a couple questions:
1. Is this a GraphQL implementation in OCaml? Or are you using another implementation?
2. What is the difference between this and [ocaml-graphql](https://github.com/fxfactorial/ocaml-graphql)
3. What is your goal with this project?
4. I want to make GraphQL possible with [Reason](http://facebook.github.io/reason/). If this is an implementa

[2016-12-14 08:21] andreas commented on #8
1. The implementation is in pure OCaml, it does not rely on `libgraphqlparser` if that's what you're asking.
2. [ocaml-graphql](https://github.com/fxfactorial/ocaml-graphql) seems like a proof-of-concept of using `libgraphqlparser` from OCaml, but it looks like it currently doesn't do much more than that. In particular, you cannot define a schema in OCaml and run queries against that schema.
3. Th

[2016-12-14 21:27] kennetpostigo commented on #8
@andreas thank you so much for taking the time to answer! Any chance to change the name to `graphql-ocaml`? Since it is an implementation of graphql in OCaml. I can make a pr to the graphql website to get this reference implementation on the http://graphql.org website along with the other languages that graphql has been implemented in.

[2016-12-14 22:37] kennetpostigo commented on #8
Also I'd love tell help make the documentation site better. Let me know how I can help. No need to fork all OCaml code is valid in reason so we can use this library in reason.

[2016-12-14 22:48] kennetpostigo commented on #2
I'd love to get this feature in. Was there any specific way you were looking to implement this?

[2016-12-15 10:45] andreas commented on #2
I'm almost done with this feature, I expect to share something by the end of this week.

[2016-12-15 11:01] andreas commented on #8
I originally picked the name `ocaml-graphql-server` to not clash with `ocaml-graphql`, but `graphql-ocaml` could work as well.

The documentation site is generated with [`topkg doc`](https://github.com/dbuenzli/topkg), so it's derived from `graphqli.mli`. It would be great to improve the content in that file. Here's an example of a [more heavily documented `.mli` file](https://github.com/dbuenzli/

[2016-12-15 16:03] sgrove commented on #2
Wow, that's very exciting. I have an immediate use case once it lands -
thank you!

On Thu, Dec 15, 2016 at 2:45 AM, Andreas Garnaes <notifications@github.com>
wrote:

[2016-12-15 18:30] kennetpostigo commented on #2
@andreas Awesome! Really looking forward to this landing!

[2016-12-29 11:39] #2 closed

[2016-12-29 11:41] andreas commented on #2
@kennetpostigo: would you be interested in porting [dataloader](https://github.com/facebook/dataloader) to OCaml/Reason now that there's support for asynchronous resolvers?

[2016-12-29 16:38] kennetpostigo commented on #2
I could certainly try! This week I won't be able to but next week should have time.

[2017-01-03 14:34] apatil opened #16 "Typechecking queries?"
Hi @andreas, is there a way to verify that a query is compatible with the server's schema? I'm wondering if it's possible to write a js_of_ocaml client that shares some code with the server, in such a way that any incompatible queries are caught by the typechecker.

[2017-01-03 20:44] andreas commented on #16
That's certainly an appealing idea. It seems something like what you propose exists in the Javascript world (though that's at runtime, not compile time):

- https://www.npmjs.com/package/@creditkarma/graphql-validator
- https://dev-blog.apollodata.com/graphql-js-the-hidden-features-effaca7a81b3#.ylmf3zhs7

Currently there's no such functionality in `ocaml-graphql-server`. I'm prioritising getting

[2017-01-12 00:34] ygrek opened #17 "fails to build when async_kernel is not installed"
[code]

[2017-01-12 08:19] andreas commented on #17
Thanks for reporting this, I'll take a look.

[2017-01-12 17:29] #17 closed

[2017-01-12 17:30] andreas commented on #17
I think I've fixed it -- let me know if it still doesn't work for you.

[2017-01-15 14:12] andreas opened #19 "Proper parsing of strings (UTF)"
The current string parsing implementation is basically a dummy implementation and should replaced with proper parsing of UTF strings.

Inspiration:

- [JSON string parsing in angstrom](https://github.com/inhabitedtype/angstrom/blob/cc10901fcde05a748bcadc96264b0c9fc93e5f79/rfcs/rFC7159.ml#L37-L146)
- [Uutf](http://erratique.ch/software/uutf/doc/Uutf.html)

[2017-01-26 17:50] andreas opened #21 "Allow specifying an operation name when submitting a request"
If the request contains multiple named operations, the caller should be able to specify an operation name that the server should execute.

[2017-01-26 17:50] andreas opened #22 "Support for __typename"
https://facebook.github.io/graphql/#sec-Type-Name-Introspection

[2017-01-26 17:51] andreas opened #23 "Support mandatory directives: @skip and @include"
According to the spec, compliant servers must implement the directives `@skip` and `@include`:

https://facebook.github.io/graphql/#sec-Type-System.Directives

[2017-01-28 19:30] #5 closed

[2017-02-08 19:52] sgrove opened #25 "Package `rresult' not found"
`opam update && opam pin add graphql .` fails with:
[code]

[2017-02-08 19:58] sgrove commented on #25
Likewise, for the examples, first need to install a few packages: `opam install cohttp lwt yojson`!

[2017-02-08 20:29] andreas commented on #25
Thanks, you're right. I'll update the instructions!

[2017-02-09 06:20] sgrove opened #26 "Unclear how to use pass data from one resolver to another"
For example, if I'm modeling a Tweet:

1. On the Twitter-api side, each tweet has `id`, `title`, `children_ids` (simply a list of ids of reply-tweets) fields
1. On the `ocaml-graphql-server` side, it has `id`, `title`, and `replies` (a recursive list of tweets) fields.
1. I'll need to use an `io_fields` to make the call against the Twitter API (but I'll only want to make one call to retrieve both

[2017-02-09 13:55] sgrove opened #27 "How to return recursive schema types"
In the included example, if we imagined one more field for users that contained their coworkers' ids:

[code]

How would we modify the `user` definition to add a coworkers field?

[code]

Specifically, I get this error with the above code: `Error: This kind of expression is not allowed as right-hand side of 'let rec'`

[2017-02-09 13:55] sgrove commented on #26
I'll close this as I figured it out, and I'll submit a PR with a bit more detail on how the structure works in the README

[2017-02-09 13:55] #26 closed

[2017-02-09 14:40] sgrove commented on #27
After chatting on freenode #ocaml a bit, I got this from Drup:

Sounds like it might not be such a straightforward fix :)

[2017-02-09 21:17] andreas commented on #27
Thanks for uncovering this -- I hadn't given too much thought and naively figured it could be solved with `let rec`. I'll look into a proper solution.

[2017-02-09 21:21] andreas commented on #26
Rather than address your question one by one, I hope the following example helps (I haven't try to compile this code and it blatantly disregards the issue you raised in #27):

[code]

Does that help? 😄

[2017-02-10 03:13] sgrove commented on #26
Indeed, that's great, thanks!

[2017-02-10 17:50] andreas commented on #27
I've come up with a solution now that mirrors the experience from other GraphQL libraries: rather than provide a list of fields directly, `~fields` is a function that receives the object itself as an argument. Example:

[code]

I'm considering whether the library should provide two object construction functions (one for providing a simple list of fields, and another for providing a function), or j

[2017-02-12 11:49] #27 closed

[2017-02-12 11:56] andreas commented on #25
I've fixed the missing `rresult` dependency now.

[2017-02-12 11:56] #25 closed

[2017-02-21 19:05] sgrove opened #29 "How to pass arguments from one field to the next"
This is related to #28, trying to have an argument for a field that allows explicit depth, e.g.

[code]

Assuming `comment` is an `io_field`,

1. How do I provide a default value for `depth`? `~default:(Some 1)` causes a type error I can't quite get around
2. Each time before recursing into comments, I want to check if `depth` is positive, and if so recurse into `comments` while decrementing the `

[2017-02-22 18:02] andreas commented on #29
First of all, thanks for continuing to try `ocaml-graphql-server` and providing feedback! It seems you have hit a bug wrt. default values for arguments. It currently only works in very naive cases. I'm working to fix this now and will back to you with a solution soon (I hope!).

About recursing into comments a variable number of times: this is a little tricky to express as a GraphQL query. The que

[2017-02-22 19:06] sgrove commented on #29
Yes, you're correct about that, and Lee Byron has made a suggestion using fragments + spread + manually writing out the depth https://github.com/facebook/graphql/issues/91#issuecomment-206743676 - I was hoping I could express that as an argument at the top level via the `depth` to `comments`, and when it went to resolve `comments` in its field, the `depth` parameter would have been passed along an

[2017-02-22 20:25] martijnwalraven commented on #29
Hmmm, I don't know anything about the implementation of the OCaml server, but I don't really see how this could work within the GraphQL type system. What is the type of the nested `comments` field? If it is a list of objects, you'll have to specify a selection set. And the executor will only resolve those fields, it will never recurse.

https://github.com/andreas/ocaml-graphql-server/pull/28 refer

[2017-02-26 18:56] andreas opened #31 "Introspection query should contain argument default value"
Currently the `defaultValue`-field of `__InputValue`-type is always `null` in introspection query results. It should be populated as [per the spec](https://facebook.github.io/graphql/#sec-The-__InputValue-Type).

[2017-02-27 08:14] andreas commented on #29
@sgrove, unfortunately I don't have a better suggestion than what was mentioned by Lee Byron.

I have fixed default arguments, though (see #30) 😄

[2017-03-02 05:28] sgrove opened #32 "Allow documentation for fields"
I'd love to be able to add a `~doc` value to `field` or `io_field` so that our structures would be a bit more self-documenting!

[2017-03-02 07:27] sgrove opened #33 "Mutually-recursive object types/schemas"
Thanks again for such a fun project to play with!

Related to #28, I've run into problems with mutually recursive types.

As a simplified example:
[code]

This will run into the same issues as #27, `Error: This kind of expression is not allowed as right-hand side of 'let rec'`

This is actually a common pattern with Relay/Apollo clients, where relationships have `edges` fields, and each inside tha

[2017-03-02 07:43] sgrove opened #34 "Example of cursor implementation for pagination"
I haven't tried it yet, but I'm curious how you might implement cursors right now. Would the resolving functions have a way to get a reference to one passed in right now via #20 perhaps?

As a reference, it's worth looking at Apollo's cursor examples http://dev.apollodata.com/react/pagination.html#cursor-pages

[2017-03-03 15:24] andreas commented on #33
I'll try to see if I can come up with a good solution for this issue -- in the short term you can use the following trick with `lazy`:

[code]

[2017-03-05 19:55] andreas commented on #34
Implementing cursor-based pagination should be similar to other GraphQL servers. Basically a cursor argument should encode all data required for fetching a particular page of objects, and the return object should contain a cursor for the next page.

Here's a dummy example similar to the Apollo link:

[code]

[2017-03-05 20:03] andreas commented on #32
Good idea -- I'm working on adding that 👍

[2017-03-12 18:33] #29 closed

[2017-03-12 18:41] andreas commented on #34
I'm going to close this, but feel free to ask more questions.

[2017-03-12 18:41] #34 closed

[2017-03-12 18:42] #32 closed

[2017-03-12 18:43] andreas commented on #33
Does the above work as a solution for now?

[2017-03-12 18:50] sgrove commented on #33
It does, thank you!

On Sun, Mar 12, 2017 at 11:43 AM, Andreas Garnaes <notifications@github.com>
wrote:

[2017-03-12 19:44] #4 closed

[2017-04-10 01:46] sgrove commented on #22
Is this the same as (or can be derived from?) the `typ` argument at all for a field? Starting to do some queries where being able to dispatch off of some of the metadata would be useful

[2017-04-10 20:20] andreas commented on #22
Yeah, that sounds right. Would you like to try your hand with this? Otherwise I should be able to add it rather quickly.

[2017-04-12 05:58] sgrove commented on #22
I'm a bit intimidated to dive into the source, but it might be a good idea! Do you have some suggestions for how to go about it?

I think `non_null (list (non_null int))` should output `[Int!]!`. But for custom types, e.g. `non_null (list tweet)`, what would be the output and how would you generate it?

Hopefully I'll be able to contribute a bit more meaningfully if I take this on!

[2017-04-12 06:21] sgrove opened #36 "GraphQL client"
I'm able to use `ocaml-graphql-server` to build a demo app with the Apollo-js client, which is great!

I have a lot of the pieces in place to use a full OCaml/GraphQL stack, but the client (actually in reason) is the last challenge here. Seems like code-generation is the way to go, for lots of reasons - it can be type-checked (both client and server-side), optimized by the server to that only the

[2017-04-13 10:14] Jimexist commented on #8
@kennetpostigo about porting to Reason, if you are using BuckleScript then it's just one bridge away to use all the packages from node.

[2017-04-13 10:40] andreas commented on #22
Please see #37 :)

[2017-04-13 13:12] kennetpostigo commented on #8
@Jimexist I realized we could just use refmt to get this to work. So no need to port

[2017-04-13 13:23] Jimexist commented on #8
@kennetpostigo you meant https://facebook.github.io/reason/nativeWorkflow.html#native-workflow-convert-ocaml-to-reason ?

[2017-04-13 13:25] kennetpostigo commented on #8
yep

[2017-04-18 14:00] andreas commented on #36
Parsing a GraphQL query should be straight forward with the library:

[code]

If you were to base the code generation on an introspection query, you would have to parse the JSON result, e.g. using `yojson` (or [`ppx_deriving_yojson`](https://github.com/whitequark/ppx_deriving_yojson)). You would then have to combine these two into a Reason file, as you propose.

An alternative approach would be to

[2017-04-24 18:32] #22 closed

[2017-04-28 20:23] #21 closed

[2017-04-30 05:26] sgrove opened #41 "`-` in string argument causes error"
I have an field that takes a string argument, and simply putting in `"-"` is enough to trigger the error:  `": string"`. Also, any japanese/chinese/etc. input causes the same error.

Any idea what's causing this?

[2017-04-30 07:10] andreas commented on #41
Could you try update to the latest master? I recently fixed string parsing (#39).

[2017-04-30 18:36] sgrove commented on #41
Yup, looks like master fixes it for this input. Thank you!

[2017-04-30 18:36] #41 closed

[2017-04-30 18:43] sgrove opened #42 "How to query for other fields in a resolver before making http request?"
I'm working with a REST backend that allows you to specify in the query params the fields you want along with some arguments about formatting. The problem right now is that when I enter that when I enter the top node, I have an `io_field` where I have to make the request, and then I pass on the result to the lower fields - but I actually want to know what those fields are so that I can make the ap

[2017-05-02 18:39] andreas commented on #42
This seems like an entirely sane use case, and `graphql-js` also exposes a [`GraphqlResolveInfo`](https://github.com/graphql/graphql-js/blob/3c0a536688ae53df362c9777170e91aa66114760/src/type/definition.js#L598-L609)-object to resolvers:

[code]

Is it something like that you had in mind?

The simplest solution would be to add an argument like this to all resolve functions. On the other hand I don'

[2017-05-03 18:43] sgrove commented on #42
I like these approaches - two other ideas:

Following your design above, if their prep work before the query was another optional argument, then memoizing it would be easy (and it seems like it should be a memoizable function)
[code]

Alternatively, simply having a different key instead of `~resolve`, `~resolve_info` that had the extra baggage that you mentioned could keep the current simpler one

[2017-05-11 04:25] sgrove opened #43 "Context for nested resolver functions"
I have a query with roughly this structure:

[code]

In order to get to the `followers` edge, I have to have (in a previous resolver) had a valid API key. Right now my resolver looks like this (hope the reason syntax is ok!):
[code]

Is there some sort of contextual structure that I can look in to find out what the api key would be, or perhaps some other way of solving this step?

[2017-05-11 10:32] andreas commented on #43
On top of my head, there are three ways to solve this:

1. Pass the API key explicitly down to nested resolvers by changing the source type of "TwitterUser" from `user` to `user * string` (the string being the API key). This is a little cumbersome and will require changing the resolvers on fields of "TwitterUser", but is the most clean in terms of separation between domain logic and GraphQL. Examp

[2017-05-11 17:13] rgrinberg opened #44 "Remove optional dependencies"
I've explained why optional dependencies should be avoided here: http://rgrinberg.com/posts/optional-dependencies-considered-harmful/ and I think the quickest way to fix the problem in graphql's case is to port the package to jbuilder. If you want, I can submit an initial port.

[2017-05-11 20:05] sgrove commented on #44
I've been hoping to play with  jbuilder at some point, maybe having this project converted over would be the impetus :)

[2017-05-12 02:07] sgrove commented on #43
Are there examples of using records as context? Having some trouble figuring it out.

[2017-05-12 07:36] andreas commented on #44
An initial port to jbuilder would be much appreciated -- thanks! 😊

Sent from my iPhone

[2017-05-13 11:16] andreas commented on #43
The `ctx` argument that you pass to `Schema.execute` is basically given as the first argument to all resolvers. Typically it's used to hold database connections or other shared data that would otherwise be in global variables. You can also use it to pass information between resolvers, though it comes with a big caveat that I should probably have mentioned above (see below).

For your case, it woul

[2017-05-13 18:05] sgrove commented on #43
Hrm, I expected that the context was shared per-query as in, if I create a
record with twitterKeyA and then concurrently kick off another query using
a record with twitterKeyB, they wouldn't clash in any way.

For some reason, using your example the type checker still wants it to be
unit, probably because some resolver somewhere uses unit. Is there some way
to add a local type annotation to `Graph

[2017-05-13 19:21] andreas commented on #43
The context can be independent per query, just create a new context value for every call to `Schema.execute`.

Currently contexts are implemented similarly to `graphql-js` and `graphql-go`, but maybe there's a better way to do it. Possibly something along the line of context modifications being local to each part of the query evaluation. I'm not aware of any other GraphQL libraries that address yo

[2017-05-14 01:28] sgrove commented on #43
That worked out well, thank you! Just took a lot of scraping through my existing code to find all references to unit, and adding some explicit annotations to get the compiler to believe me that I wanted my record type instead of unit.

It'd be good to update the example to have a context record instead of unit though, so others know how to reach for it.

[2017-05-14 01:28] #43 closed

[2017-05-14 01:29] sgrove opened #46 "Graphiql Error: {"errors":[{"message":"No operation found"}]}"
Working with `graphiql` `0.10.6`, I see `Error: {"errors":[{"message":"No operation found"}]}` when starting up. I'm not sure what's changed to cause the error though, and having some trouble tracking it down.

[2017-05-14 01:36] sgrove commented on #46
Seems to be caused by named queries (if that's the correct term).

This works:

[code]
This triggers the error:

[code]

This also means that top-level queries with variable won't work, e.g.:

[code]

[2017-05-15 17:16] andreas commented on #46
Thanks for reporting this issue. I'll have a fix out soon.

[2017-05-18 03:12] sgrove opened #49 "Deprecate fields"
The spec says we should be able to deprecate fields https://facebook.github.io/graphql/#sec-Deprecation by two fields: `isDeprecated` and `deprecationReason`. Any idea how we would express this in ocaml-graphql-server?

[2017-05-24 06:52] sgrove opened #51 "Docs on individual enum values"
Is it possible to add documentation to the enum values themselves?

Right now it's an associative list:

[code]

All of these examples are pretty straightforward (except GraphDistance, perhaps), but some have more nuanced implications about performance, meaning, intended usage, etc. Is there some way to move the comments into the schema so they'll show up tools like graphiql?

[2017-05-25 03:28] sgrove opened #52 "Publish to opam"
I think ocaml-graphql-server probably deserves a proper opam release! Are there any blockers to this? Perhaps the jbuilder PR will help?

[2017-05-25 09:54] andreas commented on #49
It's currently not supported. I imagine adding an optional argument `?deprecated` to the definition of `Graphql.Schema.field`:

[code]

[2017-05-25 10:19] #46 closed

[2017-05-25 12:13] andreas commented on #52
Submitted! ✨

`graphql`: https://github.com/ocaml/opam-repository/pull/9309
`graphql-lwt`: https://github.com/ocaml/opam-repository/pull/9309
`graphql-async`: https://github.com/ocaml/opam-repository/pull/9310

[2017-05-25 20:29] andreas commented on #44
Closed by #50

[2017-05-25 20:29] #44 closed

[2017-05-25 20:35] andreas commented on #33
I have a branch locally which implements a fixpoint. It permits code like this:

[code]

So you get rid of `lazy`, but there's still some complexity involved. The types look like this:

[code]

Any thoughts on this API, @sgrove?

(note that I'm not particularly fond of `factory` -- it's a temporary term)

[2017-05-26 15:05] andreas commented on #52
Done! 🎊

[2017-05-26 15:05] #52 closed

[2017-05-30 20:18] andreas commented on #36
I've started dabbling with an idea using PPX. I expect the end result would look something like this:

[code]

where `query` has the type

[code]

and `rsp` has the type

[code]

The type of `query` would be generated based on the provided query string and a GraphQL schema available at compile-time (local on disk). The shape of the response is encoded as an object type and determines what is retur

[2017-05-30 20:19] andreas commented on #16
Closing this issue in favor of #36.

[2017-05-30 20:19] #16 closed

[2017-05-30 20:48] xvw commented on #36
Yo, excellent perspective !
Could you not use this kind of syntax (instead of your propositon) :

[code]

Using : https://caml.inria.fr/pub/docs/manual-ocaml/extn.html#sec250

[2017-06-04 11:08] andreas commented on #51
It's not possible right now, but I'll work on adding it.

[2017-06-04 14:46] #49 closed

[2017-06-04 15:26] #51 closed

[2017-06-04 20:13] andreas commented on #36
@xvw As far as I can tell, your proposed example is not valid syntax (`%graphql` being tied to the variable name), but there are probably other options, e.g.

[code]

[2017-06-05 16:40] xvw commented on #36
Fail, sorry !

I imagine that `{|` and `|}` could be the surrounding braces ?

[2017-06-05 18:39] andreas commented on #36
If the string is restricted to only contain one anonymous query ([Lone Anonymous Operation](http://facebook.github.io/graphql/#sec-Anonymous-Operation-Definitions)), then that could work. If fragments or multiple named queries are allowed, then I think it won't work.

[2017-06-05 18:59] xvw commented on #36
Understand !
It was just a suggestion but I understand (and agreed) with your remarks.

[2017-07-12 20:33] sgrove commented on #42
We're bumping up against this a bit, have you had time to think through the design any further?

[2017-07-12 21:07] andreas commented on #42
Thanks for bringing this up again. Inspired by `graphql-go`, I had this idea of changing the type of resolve functions to `'ctx resolve_params -> 'src -> 'a`, where `resolve_params` is defined as:

[code]

So this would change the type of the first argument of a resolve function to become a record that contains both the context, query metadata and possibly other information. A resolve function wou

[2017-07-15 11:20] andreas commented on #42
@sgrove I've implemented the `resolve_params`-idea here: https://github.com/andreas/ocaml-graphql-server/tree/resolve-params

Give it a spin -- hopefully it can unblock you. I don't feel confident about the API though, so it may be subject to change.

[2017-07-18 07:08] sgrove opened #57 "Dynamically filter graphql schema"
I'd like to be able to show some clients different schemas. For example, we have some internal dev fields that I don't want exposed to some clients (all under a single top-level key right now, but it could become arbitrarily more complicated than that), to the point they shouldn't even be able to introspect the schema for them (though we want to be able to from our dev clients).

How would you rec

[2017-07-19 10:12] andreas commented on #57
I would recommend passing different schemas to `Schema.execute` in the callback to `Cohttp.Server` depending on the request (e.g. [`examples/server.ml`](https://github.com/andreas/ocaml-graphql-server/blob/master/examples/server.ml#L79)). I imagine you would write a function `select_schema : Cohttp.Request.t -> ('ctx Schema.schema * 'ctx)` and use that like so:

[code]

Would that work for you?

[2017-07-20 19:35] sgrove opened #58 "Instrumentation methods"
I'd like to have `enter` optional function argument to pass in on query execution that'll be called for each resolver with:

- the current context
- the path to the resolver (from the query)
- the type of the parent resolver (necessary for some of the instrumentation we're looking to add)
- the resolver arguments

Also, an `exit` optional function that would get the same as above, but also the ret

[2017-07-20 19:37] sgrove opened #59 "Extensions + middleware"
Similar to https://github.com/sangria-graphql/sangria/issues/256 and related to #58 , we'd like to have a way to have middleware that'll take care of some cross-cutting concerns and then store their results in the `extensions` field of the GraphQL response, so that other network layers (proxies, cacheing, instrumentation, etc.) can transparently work with our GraphQL responses.

[2017-07-20 20:26] andreas commented on #58
Thanks for the input! Adding middleware seems like a generally useful feature. Getting the types right might be challenge. Can you elaborate on the types you would expect for "path to the resolver", "type of the parent resolver" and "resolver arguments"?

[2017-07-21 15:03] andreas commented on #58
To expand on my previous comment...

The type of the function `enter` (or `exit` for that matter), will need to work for all types of fields. Since only the context type `'ctx` is identical for a query execution over a schema, this is the only part of a field which can easily be exposed to `enter`. Loosely typed data can easily be exposed as well e.g. exposing the value of arguments as `Yojson.Bas

[2017-07-21 15:59] martijnwalraven commented on #58
@andreas: For context, I'm part of the Apollo team, and we've been working on a new design for exposing trace data to Apollo Optics. Currently, this relies on an agent running in your server that collects, aggregates, and batches up data to send to the Optics backend. In the new design, trace data for an individual request is exposed under `extensions` as part of the GraphQL response, and a separa

[2017-07-23 09:45] andreas commented on #58
@martijnwalraven: Thanks, that looks interesting. What does the `startOffset` refer to? Do you have an example of a returned `extensions`-value and how it's interpreted/visualized?

[2017-07-24 14:08] martijnwalraven commented on #58
I plan on writing up a short spec for this soon, but `startOffset` refers to the start time of a resolver call in nanoseconds, relative to the `startTime` of the request.

One motivation for the format is to send data to [Apollo Optics](https://optics.apollodata.com) and visualize both individual traces and aggregated statistics there, but we would also like to add support to GraphiQL to show trac

[2017-07-29 07:57] martijnwalraven commented on #58
@andreas: Just a heads up that I just published a first description of the proposed [Apollo Tracing format](https://github.com/apollographql/apollo-tracing). Would be great to get your feedback and see how we can add support for this to the OCaml server!

[2017-07-29 18:54] sgrove commented on #6
We're coming against a use case where we need interfaces as well, any thoughts on how to support this?

[2017-07-29 21:06] andreas commented on #6
I have some ideas, but it's not straight forward. Could unions be used to solve the use case? I think they will be easier to implement.

[2017-07-30 18:16] sgrove commented on #33
@andreas I'm not particular worries about how nice the API is right now (we can always refactor our client code later), but the biggest concern I have (that we're hitting in the real world right now) is circular deps, where one module can link into another (and vice-versa). I think this API would have the same problem.

Would you recommend mutually recursive modules to get around this, or do you s

[2017-07-30 19:26] andreas commented on #33
I'm not sure I understand. Can you elaborate what you mean by circular deps with modules, perhaps with an example?

[2017-07-31 13:09] sgrove commented on #33
Sure!

So in file X I have a resolver which returns a `typ` with a resolver in file Y. This works fine, or vice versa.

But if file X has a resolver with a `typ` depending on the resolver in file Y, and somewhere in the sub-tree one of the resolvers in file Y has a `typ` with a resolver in file X, we have some trouble.

Imagine a `Video` module, that has a resolver returning `Comments` (in another

[2017-07-31 13:25] sgrove commented on #6
From the spec and https://medium.com/the-graphqlhub/graphql-tour-interfaces-and-unions-7dd5be35de0d, it looks like it. I gave a bit of an example in https://github.com/andreas/ocaml-graphql-server/issues/33#issuecomment-319062232, where we might have a number of `Url`s returned in a resolver, but as different types (`VideoUrl`, `CommentUrl`, `PlainUrl`, `DescriptionUrl`), and want to be able to tr

[2017-08-02 19:02] andreas commented on #33
It sounds to me like that problem is rooted in the requirement to have a non-cyclic dependency graph in OCaml. As such, it's hard to address in `ocaml-graphql-server`. If you want to have Video and Comment in separate files, then you probably need to use functors and then compose them in a separate file using recursive modules.

[2017-08-20 19:45] dwwoelfel opened #61 "Propagating errors along with data"
Is there a way for the resolver functions to propagate errors? Ideally, each resolver could return both data and errors, which would be collected at the top level with information about where the error occurred (https://facebook.github.io/graphql/#sec-Errors).

Right now, we're throwing exceptions from the resolvers, but this means that 1. we can't notify the caller about non-fatal errors, and 2.

[2017-08-20 20:08] andreas commented on #61
The story around error handling is indeed lacking right now. As you mention, a resolver should be able indicate an error occurred, and this error should propagate up until a nullable ancestor is found. I'm currently leaning towards an exception-based approach, as I fear enforcing all resolvers to return a result-type is too cumbersome. I imagine it would be somewhat like [monitors in Async](https:

[2017-10-02 20:58] lpil opened #67 "Use with Bucklescript"
Hello!

Apologies for the possibly silly newbie question: Is it possible to use the schema definition and query resolving part of this library with Bucklescript?

I'm asking as I'm writing a GraphQL OCaml application that runs on the Node runtime using Bucklescript. It is possible to use the Javascript GraphQL library for this but the type-safe design of this library is more attractive. :)

Cheers

[2017-10-02 22:04] wokalski commented on #67
Bucklescript support is work in progress. Check out graphql_ppx which has been built wit. Bucklescript in mind

[2017-10-03 17:44] lpil commented on #67
Wonderful, thank you. Please feel free to close this issue

[2017-10-03 18:45] andreas commented on #67
Do I get it right you want to make type-safe GraphQL requests from Bucklescript? If so, take a look at [`graphql_ppx'](https://github.com/mhallin/graphql_ppx/) as @wokalski mentions. If not, please reopen this issue and clarify :)

[2017-10-03 19:32] lpil commented on #67
I wish to make a GraphQL server in Bucklescript as I'm targeting an environment where I can run Javascript code, but not native code.

It seems `graphql_ppx` is only suited for use in clients. :(

Could you re-open this issue please @andreas, I don't seem to be able to. Thank you

[2017-10-04 07:18] andreas commented on #67
Ok, that makes sense. There are a couple of issues that need to be resolved before `ocaml-graphql-server` is Bucklescript-friendly:

- Currently `ocaml-graphql-server` makes use of OCaml v4.03-features (in particular [inline records](https://blog.janestreet.com/ocaml-4-03-everything-else/#inline-records)), while Bucklescript is tied to OCaml v4.02.3. Removing inline records should be a fairly mech

[2017-10-04 07:55] wokalski commented on #67
Just a little note that removing inline records is not this mechanical (or my skills failed me). In particular heterogenous lists.

Also I’d consider if thIs task even makes sense. It might be that the output of bucklescript will be slow and you’d be better off binding to an existing Js library or running this one on native (which is probably the best option).

[2017-10-04 10:06] lpil commented on #67
I'm more interested in just type safe the schema generation, once we have this the existing node lib can be used to resolve the queries. Perhaps it'd be a better idea to write a new library with a similar API that is intended for the purpose.

[2017-10-05 12:36] lpil commented on #67
I think you're right. Thanks for the help :)

[2017-10-05 12:36] #67 closed

[2017-10-16 19:56] donut commented on #61
As it stands, is there any way to respond with error messaging other than "Error: Internal Server Error"?  Is the only option to create wrapper types that have optional error/value properties? Something like,

[code]

Just want to confirm before I build all these wrapper types.

[2017-10-16 19:59] donut commented on #7
Corrected links:

- https://facebook.github.io/graphql/October2016/#sec-Unions
- https://facebook.github.io/graphql/October2016/#sec-Union
- https://facebook.github.io/graphql/October2016/#sec-Field-Selections-on-Objects-Interfaces-and-Unions-Types

[2017-10-16 20:00] donut commented on #6
Updated links:

- https://facebook.github.io/graphql/October2016/#sec-Interfaces
- https://facebook.github.io/graphql/October2016/#sec-Interface
- https://facebook.github.io/graphql/October2016/#sec-Field-Selections-on-Objects-Interfaces-and-Unions-Types

[2017-10-22 20:50] andreas commented on #61
@donut If you want a short-term solution (aka a hack!), I would suggest:

1) Use a map keyed with a unique id per request to store errors.
2) If an error occurs in a `resolve`-function, return `None` and put an error in that map.
3) In the `callback`-function to `Cohttp.Server.create`, add errors to the GraphQL response from the error map and clear out the request id.

Obviously that's not viable

[2017-10-23 19:28] andreas commented on #36
I'll close this one and defer further discussion to [ppx_graphql](https://github.com/andreas/ppx_graphql).

[2017-10-23 19:28] #36 closed

[2017-10-23 21:16] donut opened #68 "Slash \ escaped characters in direct input strings aren't unescaped"
If I run this query in GraphiQL

[code]

the value passed to the resolve function will be exactly `test\"`. However, if I change the query to

[code]

with the variables

[code]

the quotation is de-escaped as expected, `test"`.

[2017-10-24 07:17] andreas commented on #68
Thanks for reporting this, @donut. Could I ask you to share the HTTP POST request made by GraphiQL? Just want to make sure there's no further escaping going on.

[2017-10-24 11:59] wokalski commented on #61
Is there a pattern in GraphQL to provide strongly typed errors?

[2017-10-24 13:09] andreas commented on #61
I haven't seen anyone do what @donut describes above, if that's what you mean. I understood it mostly as a bandaid to the missing error handling in `ocaml-graphql-server`. I think #69 is the "right" approach.

[2017-10-24 13:15] wokalski commented on #61
I mean something like `result` type on the client side where the type of error is an enum/union.

[2017-10-24 13:23] andreas commented on #61
When parsing nullable fields and a `null` occurs, the client could look at the `path` property of values in `errors`. If so, it could yield a value `('a, string option) result` instead of `'a option`. It's a bit tricky though, since an error might not be present. Alternatively you could use a type such as ``` [`Ok of 'a | `Null | `Error of string]```.

[2017-10-24 13:23] sgrove commented on #61
I don't think so, generally. GraphQL supports partial-success, so all successful data is included under the `data` key in the response JSON, and `errors` is more or less free-form. Because there may be multiple errors in different parts of the response tree, community practice seems to be for `errors` to be an array, each item including a `path` key that points to the part of the tree where the er

[2017-10-24 13:37] wokalski commented on #61
@andreas thank you, I didn't phrase my questions correctly but @sgrove gave an answer for what I had in my mind.

It's an interesting area to discover because there are potentially different ways you'd like to represent an error returned from the server. Although indeed, there's some complexity to it.

[2017-10-24 17:04] donut commented on #68
[code]

[2017-12-01 11:28] andreas commented on #8
I'll close this one for now.

[2017-12-01 11:28] #8 closed

[2017-12-01 14:14] #68 closed

[2018-01-03 00:27] sgrove opened #73 "Dynamically constructing resolvers?"
I know this is against the spirit (so far) of OGS, but we're hitting some limits on code-gen, and it'd be great for us to be able to define the graph in data and then generate the resolvers at startup time. I think this lines up with some of the ideas you've had around error handling/type checking for unions/interfaces, so maybe it's not quite so crazy.

Here's an example of what we'd like to be a

[2018-01-06 14:55] andreas commented on #73
We've talked about this use case via other channels, so I'll close the issue here.

[2018-01-06 14:55] #73 closed

[2018-01-09 04:28] sgrove commented on #42
This actually looks pretty good for us, but looking at https://github.com/andreas/ocaml-graphql-server/commit/da5086f28b37f9a319ce87a6e075a2f18842f278#diff-374482d3d06ebc97235b7becd2cfb4a5R296, would that field allow us to

[2018-01-09 04:36] sgrove opened #74 "Allow additional metada fields when describing schema"
It'd be quite useful for us and some of the tooling we're building to be able to attach metadata to a field at definition time. This might be things like some arbitrary `cost` value, so that the tooling can sum up the cost of an entire query and alert the user in graphiql if it's exceeded their per-query quota (similar to the system described by @tgvashworth in https://youtu.be/Baw05hrOUNM?t=8m29s

[2018-01-09 11:56] andreas commented on #42
Yes, you can descend further down. The simple API I cooked up here doesn't allow you to resolve fragments though...

[2018-01-20 06:45] dwwoelfel opened #77 "Add a wrapper for all mutations"
Do you have recommendation for how to write a wrapper for all mutations?

We want to be able to pass a flag in the resolver that will disable all mutations. It comes in very handy in GraphiQL to prevent people from accidentally running mutations before they really understand what mutation are. We'd make them manually toggle a selector that turned mutations on.

Writing it for one mutation would lo

[2018-01-20 19:11] andreas commented on #77
Would something like this work?

[code]

[2018-02-28 09:14] sgrove opened #83 "`Schema.obj` allows multiple fields with the same field name"
This should *probably* throw and schema construction time, but it could also just take the last-defined value.

[2018-03-21 17:22] mnewsha opened #84 "Error in the example"
Hi,
I got this error trying to build the example:
[code]
What is wrong?

[2018-03-21 17:50] grsabreu commented on #84
did you run jbuilder?

[2018-03-22 05:16] mnewsha commented on #84
yes I ran jbuilder as ```jbuilder build server.exe``` and I got this error.

[2018-03-22 07:07] mnewsha commented on #84
I have changed the second line from ```module C = Cohttp_lwt_unix``` to ```open Cohttp_lwt_unix``` and it worked but http://localhost:8080 seems not getting any response on client side

[2018-03-22 07:08] #84 closed

[2018-03-22 08:14] andreas commented on #84
@mnewsha, I don't think #85 is not a correct fix. The example compiles correct for me with `graphql-lwt` version `0.5.0`. Could you please check your version of `graphql-lwt` (try `opam info graphql-lwt`)?

[2018-03-22 10:40] mnewsha commented on #84
The version of graphql-lwt I'm using right now is 0.1.0 on OCaml 4.04.2 and unfortunately the available versions of the package for this version of OCaml are only 0.1.0 and 0.3.0 do you think upgrading to 0.3.0 can help? it needs some downgradings for cohttp and prometheus packages.
In fact I was trying to use ocaml-graphql-server with Ocsigen and I wrote this piece of code in a file ```message.el

[2018-03-22 12:32] mnewsha commented on #84
In fact the newest version for graphql-lwt now is 0.3.0 and the newest version of graphql is 0.5.0 that is installed by opam on my machine too.

[2018-03-22 19:10] andreas commented on #84
Ah yes, I mistakenly put `0.5.0` for `graphql-lwt`, when in fact I meant `0.3.0`. Version 0.3.0 introduces the `Graphql_lwt.Server` module which, according to the reported error message, is missing with your current version. I'm not sure why it would require a downgrade of cohttp -- I would be interested to know more about that.

Regarding your example, it looks correct to me. The error message `c

[2018-03-22 21:33] joefiorini opened #86 "Cannot compile when using a context to retrieve from db"
I'm trying out this library to see how it feels. My test is to see how hard it is to create a simple mutation and query to create and retrieve records in a postgres database. I have the query setup and working and now I'm trying to integrate it with Caqti. I'm very new to Ocaml (actually using Reason via esy, but I can read and translate ocaml well enough), so I may be suffering from some newbie e

[2018-03-23 12:09] andreas commented on #86
I think there's a discrepancy between the `~ctx` argument you're passing to `Graphql_lwt.Server.start` [here](https://github.com/joefiorini/countdown-to/blob/reason/server/bin/Server.re#L115) (this appears to have type `unit -> (module Caqti_lwt.CONNECTION)`), and how you've declared your resolve functions, where `ctx` appears to be of type `unit` (e.g. [here](https://github.com/joefiorini/countdo

[2018-03-23 18:38] joefiorini commented on #86
@andreas Thanks, the `>|=` tip is exactly what I needed for the wrapping, I should have noticed that myself, oops.

As for the `~ctx` argument, it looks like the default function for resolvers takes `'ctx, 'src` as the first two parameters, but when I tried to take `db` as the first parameter I got:

[code]

So it seems that `unit` is being passed as the first arg, so I made `db` the second. Is my

[2018-03-28 17:22] joefiorini commented on #86
I think that was what I was missing. I still had a bunch of `resolve` parameters in the `countdown` object definition that were missing the context param. I have it compiling now, thanks for the help!

[2018-03-28 17:22] #86 closed

[2018-03-28 23:11] guilhermedecampo commented on #84
something strange here in my configs 🤔

![screen shot 2018-03-28 at 20 10 28](https://user-images.githubusercontent.com/4806269/38061093-29f8a50c-32c4-11e8-8aad-104826f11654.png)

[2018-03-28 23:12] guilhermedecampo commented on #84
There is a step by step to know what's wrong in my environment?

[2018-03-31 16:35] turboMaCk commented on #84
I've also ran into this issue.

in my case:
[code]

[2018-03-31 17:04] turboMaCk commented on #84
I've tried to force version of graphql-lwt to 0.3.0 but installation fails for me:

<img width="1920" alt="screen shot 2018-03-31 at 19 02 54" src="https://user-images.githubusercontent.com/2130305/38165602-442163c0-3516-11e8-982f-6d7d31a31f09.png">

[2018-03-31 17:55] andreas commented on #84
Thanks @turbomack, it seems like a dependency resolution issue. I'll try look into it and get back to you.

[2018-03-31 19:08] andreas commented on #84
@turboMaCk: It looks like the dependencies for `graphql-lwt` [were changed](https://github.com/ocaml/opam-repository/pull/10787), and I hadn't noticed. I've submitted a new version of `graphql` and `graphql-lwt` now with updated dependencies: https://github.com/ocaml/opam-repository/pull/11712

Once it's been merged, you should be able to install `graphql-lwt` version `0.6.0` and hopefully things

[2018-03-31 19:22] turboMaCk commented on #84
Thanks! I can confirm `opam pin add graphql-lwt --dev-repo` solved an issue - now I have it running 🙌

Thanks for solving it so quickly. I'm glad my report was helpfull as this is first time I play with non-mirageOS based OCaml (and even Mirage was like just baby steps). Also thx for [great article](https://andreas.github.io/2018/01/05/modeling-graphql-type-modifiers-with-gadts/)

[2018-04-02 19:11] guilhermedecampo commented on #84
awesome guys. I was out these days but gonna try soon the new approach.

[2018-04-02 21:53] turboMaCk commented on #43
Hi 👋

sorry for spamming closed issue once again. I was trying to solve a very similar thing today and I did succeed even though this was quite challenging to me (no experience with language and ecosystem). I would just like to validate my solution (or at least share it for future human).

I'm implementing GraphQL proxy service which under the hood collects data from REST APIs. Those APIs are usin

[2018-04-03 18:42] andreas commented on #43
Great job working that out 👍

Indeed the current type `unit -> 'ctx` for `~ctx` is a bit limited. It seems your proposed solution changes the type to `Yojson.Basic.json -> 'ctx`, which is more flexible. I think using variables to contain the token is a bit unusual though: variables are intended to be used in the GraphQL query.

I think a more general solution would be to change the type of `~ctx`

[2018-04-03 19:18] turboMaCk commented on #43
Agree. I've used variables for now so so I can easily play with it using Graphical. Also, I agree with an idea of having full `Cohttp.Request.t -> 'ctx` and let user decide which parts of a request to use to construct `'ctx` is probably a way to go.

[2018-04-10 13:39] mnewsha commented on #84
Also I got this error when I tried to use the user example in the main page:
[code]
and the error for query:
[code]
is there any conversion possible?

[2018-04-10 14:19] turboMaCk commented on #84
@mnewsha I recommend you to read through default server implementation (https://github.com/andreas/ocaml-graphql-server/blob/master/graphql-lwt/src/graphql_lwt.ml#L5-L52)

in your case, you're interested in executing the query https://github.com/andreas/ocaml-graphql-server/blob/master/graphql-lwt/src/graphql_lwt.ml#L20-L21

and construction of query param https://github.com/andreas/ocaml-graphql-

[2018-04-11 05:14] mnewsha commented on #84
Thanks! I'll check it out.

[2018-04-11 09:14] mnewsha commented on #84
@andreas Thanks a lot!

[2018-04-14 08:56] andreas commented on #43
@turboMaCk I've implemented this idea now (https://github.com/andreas/ocaml-graphql-server/pull/88) 😄

[2018-05-21 23:47] brendanlong opened #89 "GraphiQL returned for valid GET queries"
http://graphql.org/learn/serving-over-http/#get-request

Queries like this should work:

[code]

But instead I get the GraphiQL HTML page.

I think we need to make two changes:

 - Support reading the query from query params
 - Check accept headers for `text/html` before sending GraphiQL

[2018-06-18 00:10] sgrove opened #92 "Schema.obj allows for fields to be an empty list, which causes a runtime error for clients"
If `fields` for a GraphQL object type is empty, it'll cause an error to be thrown on the reference GraphQL implementation, so that this is effectively not valid:

[code]

Perhaps there should be some validation function we can call at runtime to make sure we've constructed a valid GraphQL schema?

[2018-06-18 14:49] andreas commented on #61
I'm closing this one with the merge of #69.

[2018-06-18 14:49] #61 closed

[2018-06-18 14:51] andreas commented on #57
Closing this one for now. Feel free to reopen if you need more input.

[2018-06-18 14:51] #57 closed

[2018-06-18 14:52] andreas commented on #77
Closing this one for now. Feel free to reopen if you need more input.

[2018-06-18 14:52] #77 closed

[2018-06-19 20:15] andreas commented on #92
I've considered having `Schema.schema` raise an exception in case of validation errors. Presumably creating a schema is something that happens once at "boot time", so it should be easy to catch invalid schemas with even the most primitive test suite. There are definitely more complex solutions (e.g. add a phantom type parameter to `Schema.schema` which is either `unvalidated` or `validated` -- the

[2018-06-21 18:01] anmonteiro opened #93 "Example server impl in graphql-lwt prevents using Lwt 4.0"
As far as I understand, the only reason Cohttp is required in `graphql-lwt` is to implement the simple server that serves GraphiQL.

This prevents the usage of `graphql-lwt` with Lwt >= 4.0 because `cohttp-lwt-unix` required lwt < 4.0.

My suggestion would be to remove the example server to either the examples folder or a new package altogether.

What do you think?

[2018-06-22 15:14] hannesm commented on #93
I opened https://github.com/mirage/ocaml-cohttp/issues/621 -- hopefully we'll see a fresh cohttp-lwt-unix soon :)

[2018-06-25 19:37] andreas commented on #93
Thanks for pointing this out. The server could indeed go into a separate package.

[2018-07-20 08:20] #6 closed

[2018-07-25 08:06] osener commented on #42
I'd love to have this feature as well!

[2018-08-01 19:41] anmonteiro opened #100 "OGS doesn't validate that queried fields exist in the schema"
The following query:
[code]

returns
[code]

when it should probably result in a validation error (according to http://facebook.github.io/graphql/June2018/#sec-Executable-Definitions).

This happens at any level in the query, e.g. the following also doesn't produce a validation error:

[code]

[2018-08-06 13:55] giltho opened #104 "Unable to start example Server"
I was unable to compile the `examples/server.ml` file :/

First there was with
[code]

in the main schema. Reading the README I changed it to
[code]

But then I have
[code]

Which I don't understand because `Server` is defined inside `Graphql_lwt` which is correctly opened, since it finds `Schema` which is also defined in there
If anyone has an idea :)

[2018-08-06 14:04] anmonteiro commented on #104
@giltho what version of `graphql` / `graphql-lwt` are you running?

You should probably add local pins for both libraries. The library has evolved since the last release, and the examples with it.

[2018-08-06 14:31] giltho commented on #104
Ok I was indeed using the opam ones, I added local pins.

However I get
[code]

which version of OCaml should be used with `ocaml-graphql-server` ?

[2018-08-06 14:43] giltho commented on #104
`4.02.3` seems to be indicated by the message above
` - sexplib<113.01.00 is not available because your system doesn't comply with ocaml-version >= "4.02.1" & ocaml-version < "4.03".`

But then I get `[ERROR] graphql-lwt.0.3.0 is not available because your system doesn't comply with ocaml-version >= "4.03.0".`
...

[2018-08-06 14:56] giltho commented on #104
ok `4.04.2` seems to be working :)

[2018-08-06 14:58] #104 closed

[2018-08-07 19:48] #100 closed

[2018-08-08 14:43] Ulrar opened #106 "Can't use an enum as an Arg"
Hi,

Still new at graphql (and ocaml, for that matter), but I think there's something wrong with ~args :

[code]

I've been using the status type as an enum in the schema without any issues, except there in arg where it triggers that error when building :
[code]

Using a regular type like string seems to "solve" it, but I believe I should be able to use an enum there, am I mistaken ?
Thanks

[2018-08-08 15:35] anmonteiro commented on #106
@Ulrar You can definitely use enums as arguments, but the types must concur. An `Arg.enum` is different than a `Schema.enum` and must be constructed differently.

Here's an example taking the `examples/server.ml` in this repo as a starting point:

[code]

Then you can use `roleArg` as the `typ` in your argument definition.

[2018-08-08 16:44] Ulrar commented on #106
Okay, that does work ! Didn't think of looking in examples, I was using the readme. My bad, thanks !

[2018-08-08 16:44] #106 closed

[2018-08-08 19:30] anmonteiro opened #107 "Missing `path` and `locations` keys from errors field in responses"
According to the Errors [section](http://facebook.github.io/graphql/June2018/#sec-Errors) of the GraphQL spec, OGS should be returning `path` and `locations` keys for execution errors.

[2018-08-09 10:38] Ulrar opened #110 "Parsing error message"
Hi,

I'm having a weird issue with `Graphql_parser.parse` returning an Error ": string". What could that mean ? The query is fairly simple.
I have that error only when I receive the query from cohttp. I tried logging it to the console, copying that and passing that directly myself to parse and it processes it without any errors.

So apparently I get that weird ": string" error only if I get the qu

[2018-08-09 10:40] rrosenzweig commented on #110
Could you share the query please?

[2018-08-09 10:40] Ulrar commented on #110
Added in an edit

[2018-08-09 11:00] rrosenzweig commented on #110
Do you experience this issue when using GraphiQL? Can you replicate using curl too?

Assuming you use `Graphql_lwt.Server`, could you copy/paste from stdout when running the query please?

[2018-08-09 11:14] Ulrar commented on #110
I don't understand how to use GraphiQL to query my app, or at least not the live demo thing.
I don't use Graphql_lwt.Server, I'm on mirageOS so I start cohttp manually.

But this (sorry for the mess but it's in a couple of functions, in my code) :
[code]
Outputs that :
[code]
You can see that I get an Error ": string" from parse.
As mentioned, copying that from the console and feeding it to parse

[2018-08-09 11:16] Ulrar commented on #110
Writing this I just realized my mistake I think, to_string puts quotes around the query ..

[2018-08-09 13:27] rrosenzweig commented on #110
@Ulrar Glad you found the issue. I do agree on the poor error message. Have you considered using `Graphql_lwt.Server`?

[2018-08-09 13:27] #110 closed

[2018-08-10 07:52] Ulrar opened #111 "How to declare Arg.obj's coerce"
Hi,

I'm trying to figure out mutations, for which the only doc as far as I can tell seems to be #24.
To take an object as an argument (Schema.Arg.obj), it looks like you have to provide a coerce function, but the only indication is that it has to be of type 'b.

Is there any examples of projects using this lib I could take a look at ? Or any doc I might have missed ? Looking at the sources it see

[2018-08-10 08:31] Ulrar commented on #111
Just realized the example directory has an example of Arg, it's not specific to mutations.
Still would be interested if you know any other projects using the lib to take a look at

[2018-08-10 08:47] rrosenzweig commented on #111
Thanks for pointing out this shortcoming in the documentation -- I'll try add something about argument objects to the `README`.

Here's a brief summary:

[code]

`coerce` should be a function that accepts the arguments defined in `fields` and returns some value `'a`. A value of type `'a` will be exposed to the `resolve` function of the field where the argument is used.

[code]

Does that answer yo

[2018-08-10 13:02] Ulrar commented on #111
Yes, seems to be working ! Thanks for the clear explanations.

Unrelated question, but I might as well avoid an issue just for that, is ~resolve's return in mutation fields used for anything ? I'm trying to process that query :

[code]
The mutation does happen fine, it gets saved, but neither returning the object in the mutation io_field's resolve neither defining a regular "project" field seems t

[2018-08-10 13:08] rrosenzweig commented on #111
That sounds puzzling. Can you share the definition of the mutation field `addProject` please?

[2018-08-10 13:12] Ulrar commented on #111
[code]

I've tried a few things, including just returning the project as is like here, but I always end up with null in the response. I've also added a field "project" in the schema, but it never gets called either.

[2018-08-10 13:29] Ulrar commented on #111
Okay nevermind, I've figured it out again. My query expects a project field, but the mutation returns the object itself, not encompassed in an other object.
Sorry for the noise, slowly figuring it out :)

[2018-08-10 13:29] #111 closed

[2018-08-14 09:42] Ulrar opened #113 "Losing newlines when parsing mutations"
Hi,

Not a 100% sure the problem is in ocaml-graphql-server, but I noticed I'm losing the \ of the \n in mutations. For example that query, before being executed :

[code]

From the resolve function though, the \n have been transformed into n, witout any line breaks :
[code]

I've just used a Printf before the Schema.execute, and the second one is in the resolve function for the mutation. I've che

[2018-08-17 09:27] #113 closed

[2018-08-17 09:38] #7 closed

[2018-08-17 09:38] #33 closed

[2018-09-03 13:20] anmonteiro opened #119 "June 2018 Spec compliance checklist"
The following is an incomplete but growing list of things that we need to support to achieve compliance with the Jun 2018 version of the Spec.

- [ ] [Block strings](http://facebook.github.io/graphql/June2018/#sec-String-Value) (using `"""`)
- [ ] Check that enum values are not `true`, `false` or `null` (http://facebook.github.io/graphql/June2018/#sec-Enum-Value)
- [ ] [Field Selection Merging](ht

[2018-09-21 14:46] anmonteiro commented on #93
The constraint on Lwt < 3.0.0 has been fixed with a release of Cohttp (https://github.com/mirage/ocaml-cohttp/issues/621)

[2018-09-21 16:15] hannesm commented on #93
@anmonteiro yes, and that (cohttp 1.1.1) got recently merged into opam-repository https://github.com/ocaml/opam-repository/pull/12652

[2018-09-28 13:14] Ulrar opened #120 "enum in variables"
Hi,

Still the same problem about error messages, so I'm not a 100% on where this is coming from, but I think you can't use enums in variables.

This works
[code]
This doesn't
[code]
I took away other stuff, but the only difference I have between the two (besides the actual variable) is that the enum is a string in the second one, since you don't have enums in JSON (at least, not as far as I know)

[2018-09-28 13:19] Ulrar commented on #120
Okay, as usual I realise my mistake after creating the issue .. sorry, clearly those two queries aren't the same, and the problem isn't the enum at all it's the name of the query vs the name of the field. I'll go hide in shame now

[2018-09-28 13:19] #120 closed

[2018-10-01 03:11] anisjonischkeit opened #121 "Guidance for integrating with existing Opium/Other server."
I have an existing Opium server and just want one of my endpoints to be graphql. If anyone can point me in the right direction for this I'd be really appreciative.

Also sorry in advance if this is the wrong place to ask.

[2018-10-01 11:17] anmonteiro commented on #121
Here's an example that you could copy: https://github.com/andreas/ocaml-graphql-server/blob/cad6b3c6bf542ac5d848631dc3846ea08be70c1b/graphql-lwt/src/graphql_lwt.ml#L31-L54

[2018-10-02 15:30] andreas commented on #121
There's no proper integration between `opium` and `ocaml-graphql-server` right now. Copying some of the code from `Graphql_lwt.Server` will be the quickest way to get going (what @anmonteiro mentioned).

There's previously been talk about exposing a function á la `'ctx Graphql_lwt.Schema.t -> 'ctx -> Cohttp.Request.t -> Cohttp.Body.t -> (Yojson.Basic.json, Yojson.Basic.json) result Lwt.t`, which s

[2018-10-03 13:37] anisjonischkeit commented on #121
Thanks for the guidance, it's really helped. Just thought I'd show what I came up with in-case someone else gets stuck with this.

[code]

Also any suggestions for improvement are appreciated.

[2018-10-04 07:38] andreas commented on #121
Thanks for sharing @anisjonischkeit! I'll close this issue for now, but will make a mental note of another vote for a "request handler function" :)

[2018-10-04 07:38] #121 closed

[2018-10-06 09:27] Ulrar opened #123 "Design question"
Hi,

So I've been using the lib for a little while, and making simple stuff is fairly simple, which is great.
I do wonder how to make larger things the correct way though, since as far as I can tell there's no way to have a "mismatch" between the types the API exposes to the outside world and the types it's actually using to resolve the queries.

By that I mean if my schema has a field returning a

[2018-10-06 12:40] Ulrar commented on #123
Seems like it is indeed, from it's name I hadn't realized that was the subject of this other issue, sorry.

Looks like the idea is to tell the "top" resolver what fields are being queried, which I imagine would allow it to fill the non-queried fields with garbage when building the objects instead of resolving them. I don't find that solution as nice as allowing the resolution to happen further dow

[2018-10-06 13:33] Ulrar opened #124 "contains type variables that cannot be generalized"
Hi,

When I try to declare my types in their own files, I get an error, for example if I have a file with

[code]
If the actual Schema that uses this isn't in the same file, I get this when compiling :
[code]

My best guess is that it must be coming from the ignored ctx parameters to the functions, whatever it's for, but named or not I still get the error of course. Shoving everything into one fil

[2018-10-06 15:15] anmonteiro commented on #124
You're right that it's coming from the `ctx' parameters. I think if you annotate them the error will be gone.

Example:

[code]

[2018-10-06 16:12] Ulrar commented on #124
Ah, indeed. Using (ctx : unit) instead of _ seems to do the trick, thanks

[2018-10-06 16:12] anmonteiro commented on #124
If `ctx` is of `unit` type, then you can just destructure it: `fun () project -> ...`

[2018-10-13 23:35] sporto opened #129 "CORS?"
Hi. Does this support CORS? I could't find any mention of it or headers like `Access-Control-Allow-Origin`.

Could you give me an example of setting the CORS headers?

Thanks

[2018-10-14 12:05] anmonteiro commented on #129
This library provides an example server that doesn't allow you to customize the response headers:
https://github.com/andreas/ocaml-graphql-server/blob/4367e7ffec6d9b083bd1093a287b9f53a6e78cc3/graphql-lwt/src/graphql_lwt.ml#L44-L46

However, as I found in my own projects, that is not enough and you'll need to write your own server that calls into the constructs provided by `Graphql_schema`. This fu

[2018-10-15 16:13] andreas commented on #129
Adding custom HTTP headers to the response will be a lot easier once this PR is merged: https://github.com/andreas/ocaml-graphql-server/pull/126

In the meantime you can either take the approach described by @anmonteiro, or have Nginx in front and add CORS headers there (that's what I do).

[2018-10-15 16:39] andreas commented on #123
Hi @Ulrar,

It's difficult to answer your question with certainty without more detail. It sounds like you have a schema something like the following:

[code]

If I understand correctly, your question is whether `expensiveField` needs to be loaded as part of `fetch_projects` or it can be done in the `expensiveField`-resolver.

The short answer is that the data can definitely be loaded in the `expen

[2018-10-16 08:59] Ulrar commented on #123
Hi,

Okay I get it, I thought `fetch_projects` had to return a list of projects, but after some testing I see I was wrong, you can return whatever you want as long as the project object takes that same type and constructs the correct object with that.
Makes a lot more sense now ! So I'll rework my thing with io_fields in the project resolvers instead, that's perfect, thanks !

[2018-10-16 08:59] #123 closed

[2018-12-06 13:49] #93 closed

[2018-12-18 10:08] #23 closed

[2018-12-18 17:59] anmonteiro commented on #107
Paths were done in https://github.com/andreas/ocaml-graphql-server/pull/112
Locations might be possible after #132

[2018-12-18 17:59] anmonteiro commented on #129
`graphql-cohttp` is now a thing. This can probably be closed?

[2019-01-23 23:59] dwwoelfel opened #134 "Recursive args"
Support recursive args. They come in very handy when you're trying to allow people to write boolean logic, like "createdAt > '2018-12-31' and priority = 1".

Both Hasura and Postgraphile use recursive args to allow the user to construct custom postgres queries.

Example of code (in Reason) that currently throws a Lazy.Undefined error at runtime:

[code]

[2019-01-26 10:47] andreas commented on #134
Interesting use case! Recursive input types are indeed not supported right now. I've implemented the most straight forward approach here, which follows the way fields work for regular objects:

https://github.com/andreas/ocaml-graphql-server/tree/graphql/recursive-input-arguments

Does that fix it for you?

---

I've thought more broadly about recursive types (whether input or regular) -- here's a

[2019-01-30 14:19] joprice opened #137 "curt parser error"
The error shown when parsing some incomplete queries differs from others:

`"{\n#test \n\n"`

returns the error ': string'

Making the comment a single letter changes the message:

`"{\n#t \n\n"`

returns the error ': not enough input'

I ran into this using graphiql since it includes a mix of extra whitespace and comments.

[2019-01-30 14:20] anmonteiro commented on #137
@joprice the errors should be different in master, since the parser implementation was replaced in #132

[2019-01-30 14:23] joprice commented on #137
I tested it with the following resolutions:

[code]

[2019-01-30 14:24] anmonteiro commented on #137
Here are the errors for your examples in master:

[code]

[code]

[2019-01-30 14:44] joprice commented on #137
I was missing a resolution for the parser. Didn't realize transitive dependencies weren't automatically overridden by esy. Adding this made it work

`"@opam/graphql_parser": "andreas/ocaml-graphql-server:graphql_parser.opam#508c5a2d0256d5201932d78b3aacadb87c4ee55f",`

[2019-01-30 14:44] #137 closed

[2019-02-06 16:58] cepalle opened #138 "`[ERROR] No package named graphql-cohttp found.` when use `opam install graphql-cohttp`"
Hello,

I try to use ocaml-graphql-server in Ubuntu 18.04.1, but I get :

[code]

In README file, in API documentation section, the `graphql-cohttp` link is dead.

`graphql`, `graphql-lwt`, `graphql-async` and `graphql_parser` packages seems work.

[2019-02-06 17:03] anmonteiro commented on #138
`graphql-cohttp` is not released to OPAM yet, you can use a local pin for now.

AFAIU Andreas was waiting until Cohttp 2.0 was released (which it now has been) to release it.

[2019-02-06 20:16] #138 closed

[2019-02-22 07:32] sporto opened #142 "No implementations of Digestif on MacOS"
Hi
While trying to run the example on Mac OS I'm getting

[code]

Any idea on how to fix this dependency on MacOS? Thanks

[2019-02-22 12:24] #142 closed

[2019-02-22 12:26] andreas commented on #142
Thanks for reporting this! I've just pushed a fix (for the curious: `digestif` requires you to pick between the C and the OCaml implementation). Please try again and let me know if there are any issues.

[2019-02-23 00:03] sporto opened #143 "Allow defining multiple graphql end point paths"
Hi

I want to make two graphql end points in my app. One is for public (non authenticated) users. And the other one for Authenticated users. e.g. `/graph-public` and `/graph-app`.  Each using different schemas.

I have done this pattern several times with other GraphQL servers and it simplifies the handler of context quite a lot. e.g. in the authenticated end point you always have a user in the co

[2019-02-23 00:21] sporto commented on #142
Thanks, this works

[2019-02-23 09:15] andreas commented on #143
Hi @sporto,

The line you point to is the built-in Cohttp callback which is intended for development/testing purposes. `Graphql_cohttp` exposes the necessary functions to allow you to do custom routing with any number of schemas.

Here's a simple example that should get you going (untested!):

[code]

[2019-02-23 11:02] sporto commented on #143
Great, that is very helpful, thanks
I'm having a bit of trouble with `respond_string`. Don't know where `Io` comes from.
Maybe `respond_string` could be exposed?

[2019-02-23 11:09] andreas commented on #143
Good point, I've rewritten the example to not use `respond_string` now.

[2019-02-23 11:14] sporto commented on #143
Great thanks, this works like a charm

[2019-02-23 11:14] #143 closed

[2019-03-28 21:30] phated opened #151 "Interfaces don't enforce fields being implemented."
I have a schema similar to:
[code]

But there are no errors produced unless I try to access the `id` field in a query.  So this query actually succeeds:
[code]

[2019-03-28 22:08] phated opened #152 "Can Schema.interface propagate docs down to implementations?"
Since `abstract_field` can receive a `~doc` argument, would it be possible to provide that as a default for each implementation in the introspection query?  This would be helpful to avoid duplicating documentation between `abstract_field` and `field`.

[2019-03-29 09:12] andreas commented on #151
This is a known limitation, but unfortunately not documented 😞Whether an object correctly implements an interface is one of the things that cannot be captured in the type system. My current plan is to "just" implement it as an exception raising runtime check when calling `Schema.add_type`. Although inferior to a type error, I think it's a reasonable trade-off to have an exception at schema-constru

[2019-03-29 09:25] andreas commented on #152
Thanks for the suggestion! I think it should be possible, though I'm wondering whether an implementation should be allowed to _not_ inherit the doc string, and how to achieve this (optional argument `?propagate_doc` for `Schema.add_type`?). It could probably be a convenient feature, but personally I have other features higher on my wish list 😄

[2019-04-11 14:35] CGenie opened #155 "Help on a dynamically generated args list"
Hello,
First of all thank you for this great library :)
I have a list of fields with variable type, something along the lines of:
[code]
and I make a list of `Graphql.Schema.field` like this:
[code]
This works fine. However I want to have a list of args as well and when I do the similar:
[code]
I get an error compiling `arg_convert`:
[code]

Do you have an idea how can I overcome this? I.e. to uni

[2019-04-11 15:02] andreas commented on #155
I think it depends how you use `arg_convert` later. If this is for inserting into a sqlite table with `graphql-sqlite`, could you convert input value to a [`Sqlite3.Data.t`](http://mmottl.github.io/sqlite3-ocaml/api/sqlite3/Sqlite3/Data/index.html#type-t)? Otherwise it would be helpful with more context 😄

[2019-04-11 16:42] CGenie commented on #155
This is precisely the thing im working on, will check it out, thanks!

[2019-04-11 18:47] CGenie commented on #155
Yes, indeed, I'm asking about `graphql-sqlite`, will check out your tip, thanks! :)

[2019-04-12 04:50] CGenie commented on #155
OK so I still don't get this fully. It's about this code:
https://gitlab.com/cgenie/graphql-sqlite/blob/master/lib/graphql_sqlite.ml
I'm trying to automatically generate args corresponding to all sqlite columns using a function of this form:
[code]
(yeah I know I have my own enum and don't use `Sqlite3.Data.t` maybe I'll refactor later).
Anyways I need a function of this form somewhere to collect

[2019-04-12 18:58] andreas commented on #155
Ok, I think I have a better understanding of what you want to achieve now. Dynamically generating arguments is one of the most tricky parts to do with this library due to the types used for arguments and resolvers. In particular, you have to convince the type checker that the resolver and argument list for a field agree on the number of type of arguments.

The only way to do this (that I'm aware o

[2019-05-04 10:20] andreas commented on #155
@CGenie Did the above make sense? Let me know if you need further input to make progress 😄

[2019-05-06 04:07] CGenie commented on #155
It did make sense and I started to work on it, however I didn't have much time since then.
What I have currently is:
https://gitlab.com/cgenie/graphql-sqlite/blob/args/lib/graphql_sqlite.ml#L23-69
however I still get:
[code]
I guess I still need to fix the resolver. Anyways am loaded with other work now, this is a side project. I can close this issue however to keep your repo clean :)

[2019-05-06 04:09] sgrove commented on #155
It'd be great to have a list of examples in the repo, and I suspect this
would be a gem in there!

On Sun, May 5, 2019 at 9:07 PM CGenie <notifications@github.com> wrote:

[2019-05-13 20:42] johnwu93 commented on #34
Here is an example of a real-life project using pagination for OCaml GraphQL:
https://github.com/CodaProtocol/coda/blob/73353f9e3d3fc13095be24f2d5e29552d1f8315e/src/app/cli/src/graphql.ml#L438

[2019-05-13 23:49] dwwoelfel commented on #134
We're using your recursive-input-arguments changes in production on OneGraph now, and it has been working really well for us.

[2019-05-16 15:14] andreas commented on #155
Yeah, it seems like nothing is actually being done with the statement once the variables have been bound (the `f x -> x` part): https://gitlab.com/cgenie/graphql-sqlite/blob/args/lib/graphql_sqlite.ml#L135

Cool, let me know if you need more input 😄

[2019-05-16 15:14] #155 closed

[2019-05-16 15:18] andreas commented on #34
Thanks for sharing, @johnwu93 😄

[2019-05-19 03:00] anmonteiro commented on #134
I really like the `fix` approach here. I think this could be a really nice quality of life improvement, and would make constructing schemas much simpler for the 80% cases where users don't have recursive (self or mutually) objects.

[2019-07-01 22:39] sync opened #160 "Operation not found"
When using latest code direction from master and if I query my server with the following query, It works when using the opam release:

[code]

I get

[code]

I can get it to work when doing this:

[code]

[code]

Could this PR be the culprit ?
https://github.com/andreas/ocaml-graphql-server/pull/156

I am also using the default `Graphql_cohttp_lwt`

[2019-07-01 22:45] sync commented on #160
Same query work if I use GraphQL Playground, only happen when using the builtin graphiQL that comes with Graphql_cohttp

[2019-07-02 05:22] andreas commented on #160
Sounds likely with #156. Thanks for reporting, I’ll take a look!

Sent from my iPhone

[2019-07-02 20:20] andreas commented on #160
I can replicate what you experience when GraphiQL sends `operationName=undefined` for some reason. Is that what happens in your case also? Can you provide more details about the HTTP request which causes the error (e.g. copy as cURL from the Chrome network tab).

[2019-07-03 11:22] sync commented on #160
I am sorry I completely forgot to get back to you and will do it first thing in the morning

[2019-07-03 11:33] osener commented on #160
I've seen this before, I suspect a GraphiQL bug as it goes away when I press <kbd>Prettify</kbd>.

[2019-07-03 11:49] sync commented on #160
Yes just tried and cannot reproduce it on https://anthonymittaz.com/graphql?query=%7B%0A%20%20links%20%7B%0A%20%20%20%20id%0A%20%20%20%20url%0A%20%20%7D%0A%7D

[2019-07-04 05:57] sync commented on #160
tried again on my main computer but can't reproduce. So i guess we are all good and there isn't anything to fix ?

[2019-07-04 05:58] sync commented on #160
perhaps i should spend some time upgrading graphiQL and send a PR, would you happy for me to do so ?

[2019-07-04 05:58] sync commented on #160
i also have a ssl (wss) bug fix for web socket connection when using https, the logic in the code always trying to connect to a non secure web socket connection

[2019-07-04 06:28] andreas commented on #160
Sure, that would be great 😊

Sent from my iPhone

[2019-07-24 00:13] sgrove opened #161 "__type isn't implemented"
https://graphql.org/learn/introspection/ makes reference to a top-level `__type` field, e.g.

[code]

[2019-07-24 19:15] andreas commented on #161
Thanks! See #163.

[2019-07-25 21:42] despairblue opened #164 "self recursive root query type not possible"
Hey I'm trying to add an ocaml implementation to [some benchmark](https://github.com/ruiaraujo/gbench). The benchmark wants the server to implement a schema like that:

[code]

Since `Schema.schema` only takes a list of fields I cannot use the query type when creating the fields. The closest I got was this:

[code]

I then tried using the `query_name` parameter of `Schema.schema` to change the roo

[2019-07-26 19:03] andreas commented on #164
Hi @despairblue,

Interesting with the benchmark 😄 You're right that it's currently not possible to have a self-recursive Query type with `ocaml-graphql-server`. The current approach solves some typing-related issues, and it hasn't really come up as an issue for any real-world use case yet. If you want to hack it, you can update the function `schema` to accept a value of type `('ctx, unit option)

[2019-07-27 12:09] despairblue commented on #164
Thanks, the results are here: https://github.com/ruiaraujo/gbench/pull/1

I only run the benchmark for scalars, lists and the introspection one for now. You can check the [server here](https://github.com/ruiaraujo/gbench/blob/b36facc4ecc2d4341845c82755e0d545814baab4/servers/ocaml/lwt/lib/Server.re) if you have any suggestions, but it's in reason, I can convert it to ocaml though if you like.

I th

[2019-08-11 09:50] #161 closed

[2019-08-11 09:51] andreas commented on #164
Thanks for sharing 😄 I'll close this for now then.

[2019-08-11 09:51] #164 closed

[2019-08-11 09:52] andreas commented on #160
I'll close this for now -- please reopen if still relevant 😄

[2019-08-11 09:52] #160 closed

[2019-08-11 09:53] andreas commented on #129
I'll close this one. Feel free to open a PR against `graphql-cohttp` with CORS support 😄

[2019-08-11 09:53] #129 closed

[2019-08-11 09:54] andreas commented on #89
I believe this was fixed by https://github.com/andreas/ocaml-graphql-server/pull/156.

[2019-08-11 09:54] #89 closed

[2019-08-27 18:01] dwwoelfel opened #167 "Fields defined in fragments don't merge properly"
If fields are defined in a fragment, they won't be merged properly with the rest of the fields.

Example:

[code]

Should return (see [swapi example](https://graphql.org/swapi-graphql/?query=query%20Films%20%7B%0A%20%20allFilms%20%7B%0A%20%20%20%20films%20%7B%0A%20%20%20%20%20%20title%0A%20%20%20%20%7D%0A%20%20%7D%0A%20%20...F%0A%7D%0A%0Afragment%20F%20on%20Root%20%7B%0A%20%20allFilms%20%7B%0A%20%

[2019-08-27 19:03] andreas commented on #167
Thank for raising this -- and the reproduction case! I'll try look into it later this week.

[2019-08-28 21:01] dwwoelfel opened #169 "Fields with differing arguments shouldn't be allowed"
Queries with differing arguments for the same field should not be allowed.

An example of a query that should fail ([see swapi example](https://graphql.org/swapi-graphql/?query=query%20AllFilms%20%7B%0A%20%20allFilms(first%3A%201)%20%7B%0A%20%20%20%20totalCount%0A%20%20%7D%0A%20%20allFilms(first%3A%202)%20%7B%0A%20%20%20%20pageInfo%20%7B%0A%20%20%20%20%20%20hasNextPage%0A%20%20%20%20%7D%0A%20%20%7

[2019-09-20 20:32] naartjie opened #173 "ocamlformat"
Would you accept a PR to add `ocamlformat` to the project? If so, any preference for profile?

I was thinking of just adding the project files, and @andreas could run `dune build @fmt --auto-promote`. I wouldn't want to be the main committer.

Anyways, let me know if you'd be keen, if so, I can do a couple of disposable PR's with the different profiles, just to preview what the code would end up l

[2019-09-21 09:13] andreas commented on #173
I've been wanting to adopt `ocamlformat` for a while, but never got around to investigating the format options. I would imagine going for `conventional` or `ocamlformat`. If you want to help out investigating and trying something out, I'd appreciate it 😄

[2019-09-21 13:04] #167 closed

[2019-09-29 08:44] andreas commented on #173
Thanks for creating those PRs! I'm inclined to use `conventional`. Do you happen to know if there's a good way to enforce the `ocamlformat` style with CI, i.e. fail the build if the formatting does not conform?

[2019-09-29 09:09] cem2ran commented on #173
@andreas you could consider adding this as a pre-commit hook?

[2019-09-29 18:43] andreas commented on #173
Yeah, I guess that could be a start.

[2019-09-29 18:56] anmonteiro commented on #173
This is what I do in H2:

https://github.com/anmonteiro/ocaml-h2/blob/a0a916a4b7b21b9fa3abe1a89c946207f15c270a/.circleci/config.yml#L108-L109

[2019-09-30 20:50] naartjie commented on #173
@anmonteiro

+1 for @anmonteiro's method of failing the build. H2 is using CircleCI, would just need to figure out how to run that check in travis.

[2019-10-15 01:22] dwwoelfel opened #179 "Distinguish between null and missing in args"
Is there some way to distinguish between the user passing in null and the user passing in nothing for an arg?

I have a use case for an update mutation that requires me to distinguish between missing and null. If the value was provided as null, then the underlying field in storage needs to be nulled out, but if the value is missing, then the underlying field should remain unchanged.

Example:

[co

[2019-10-20 14:33] andreas commented on #179
Sorry for the slow response. I have two ideas for how to solve this:

- Inspect at the `Graphql_parser.field` passed to the resolver (via `resolve_info.field`).
- Make a custom scalar type that has a specific value when `null` is passed. This would result in a type like ```[`Null |  `Not_null of string] option Schema.Arg.arg_typ```, where `None` means not present and ```Some `Null``` means `null`

[2019-11-11 16:44] kevinsullivan opened #180 "simple opam install graphql_parser fails"
With apologies if this is due to newbieness. Happy to close this out if so.

CONTEXT:
OSX

ocaml --version
The OCaml toplevel, version 4.07.1

menhir --version
menhir, version 20171222

PROBLEM

[code]

[2019-11-11 16:49] kevinsullivan commented on #180
A little more context:

[code]

[2019-11-11 17:22] kevinsullivan commented on #180
Probably a version error. Closing. Sorry.

[2019-11-11 17:22] #180 closed

[2019-11-26 12:58] osener commented on #179
I'm not very familiar with the GraphQL spec, but this discussion could be relevant: https://github.com/baransu/graphql_ppx_re/issues/26#issuecomment-542182296

If this is correct, the current behavior of raising an error when nullable variables are missing from the variables dictionary does not align with the spec.

[2019-11-26 13:06] andreas commented on #179
Can you elaborate on what you mean by this? And feel free to open a separate issue -- at first glance it does not appear related to this issue (though I could be mistaken) 😄

[2019-11-26 13:24] osener commented on #179
@andreas It's more of a question I guess, I don't know what behavior is correct and I'm curious
whether a possible OGS solution to this issue would be relevant to my issue.

[code]

If I call this query with `{ "first": 10 }` I get this error back:

[code]

while `{ "first": 10, "after": null }` works.

In fact, this was the way
[`graphql_ppx`](https://github.com/mhallin/graphql_ppx) worked. It wo

[2019-11-26 14:03] andreas opened #181 "Missing variable value for nullable field argument"
(_Originally posted by @osener in https://github.com/andreas/ocaml-graphql-server/issues/179#issuecomment-558626494_)

@andreas It's more of a question I guess, I don't know what behavior is correct and I'm curious whether a possible OGS solution to this issue would be relevant to my issue.

[code]

If I call this query with `{ "first": 10 }` I get this error back:

[code]

while `{ "first": 10, "

[2019-11-26 14:20] andreas commented on #181
@osener Thanks for reporting this. I've re-read the spec a bit, and it seems unclear to me what the right behavior is for nullable field arguments and missing variable vales. I'll need to investigate a bit further. If you have any insights, I'd be happy to hear.

While looking over the variable handling code, there appears to be some other issues around default values, which I'll look into also..

[2019-11-26 14:30] osener commented on #181
Thank you @andreas! I'll try to understand the correct (or common) approach to this better and report back if I have any additional insight. Right now I have a working client-side workaround.

[2019-12-04 15:44] yawaramin commented on #173
Looks like this is closed by #177

[2019-12-04 15:46] #173 closed

[2019-12-04 15:47] andreas commented on #173
Indeed, thanks!

[2019-12-04 17:50] naartjie commented on #173
Thanks @yawaramin, I was keeping this open in order to take care of the CI check, but it's better to open a new issue for that 👍

[2019-12-04 17:57] naartjie opened #182 "Add CI check for ocamlformat"
Ocamlformat has been added to the project via #177.

I'm opening up this issue to track the fact that we still need to add a CI check for it.

I had an initial look at it, but to be honest I don't really know how TravisCI works, nor the ocaml build pipeline in travis. If anyone has any suggestions or tips, please comment here, thanks.

[2019-12-04 19:21] andreas commented on #182
If it makes a difference, I'd be perfectly happy with a different CI setup also (Travis is very slow!), e.g. based on Github Actions, CircleCI or similar.

[2019-12-04 19:23] wokalski commented on #182
here's a validation workflow from brisk-reconciler

https://github.com/briskml/brisk-reconciler/blob/d185e75c47b381fb911ca9decdf7525b97188ea1/.github/workflows/validate-pr.yml

[2019-12-05 11:31] naartjie commented on #182
Great idea. GitHub actions sounds perfect for this.

[2019-12-05 20:55] wokalski commented on #182
It even posts a comment when linter has spotted an issue. Amazing!

[2019-12-08 16:08] andreas commented on #181
Based on [this test case](https://github.com/graphql/graphql-js/blob/4c17d15d9210bfee31e1e9e106bdb4beaae44317/src/execution/__tests__/variables-test.js#L229-L245) from `graphql-js`, it appears a missing variable for a nullable argument should be treated as `null`. I'll update the implementation accordingly.

[2019-12-08 16:15] andreas commented on #181
A quick note: Nullable arguments are currently represented via an `option` type. This means you cannot distinguish between a missing argument value and `null`. We could choose to use a type with three constructors instead to allow this, e.g. `type 'a nullable = Null | Undefined | Defined of 'a`. This ties into #179.

[2020-01-05 14:48] bram209 opened #185 "Deriving schema from types"
It would be nice if we could derive a schema directly from a type, for example:
[code]

would generate the following code:
[code]

thoughts?

[2020-01-05 19:10] sgrove commented on #185
What about using SDL to generate the types and resolvers (and use a few custom directives to control the generation)?

So the above could be written as:
[code]

[2020-01-05 21:56] andreas commented on #185
Hey @bram209 😄 I've been toying in my mind with such an idea myself, and I think it could be great for simple GraphQL objects. It's not obvious to me how it can be adapted for more complex use cases though (e.g. fields with arguments).

@sgrove: I really like the idea of a PPX based on the SDL. I've been wondering whether it could generate a functor, where the user supplies the types and resolvers

[2020-01-13 19:37] #181 closed

[2020-02-04 18:44] DrYSG opened #186 "issues with example?"
platform: windows 10
Dune: version 2.1.2
Cygwin: CYGWIN_NT-10.0 YSG4206 3.1.2(0.340/5/3) 2019-12-21 15:25 x86_64 Cygwin

[code]

[2020-02-06 18:48] andreas commented on #186
Thanks for reporting this @DrYSG 😄 What version of `crunch` do you have installed? Check with:

[code]

I suspect it could be an issue of portability with `crunch`. Could you please try the following and reply with the output (`OCAMLRUNPARAM=b` enables backtraces):

[code]

[2020-02-07 14:41] DrYSG commented on #186
This might be OBE, I found the this project, which uses esy, and it builds fine:

https://github.com/anmonteiro/reason-graphql-fullstack

opam info crunch

[code]

output with backtraces:

[code]

[2020-02-09 19:15] cem2ran commented on #185
Been thinking about this for a while too. (Pardon the Reason syntax), but do you think something like this is viable w.r.t defining resolvers?

[code]
https://astexplorer.net/#/gist/842c826d3dbd3ce841f33ff1d7e8ba26/d8ce85315ec79cf0b3906121deb1a7178ea52a83

@sgrove I believe you have done some work on codegen from record type declarations? I'd be happy to go down this rabbit hole with some guidance

[2020-02-10 14:02] emillon opened #187 "make_callback does not support preflight requests for CORS"
Hi,

When the client is on a different origin than the server, the client sends a preflight OPTIONS request to OGS, which returns a 404:

https://github.com/andreas/ocaml-graphql-server/blob/940e86f9ff1a017be2ff64b3a35c71804d9a4729/graphql-cohttp/src/graphql_cohttp.ml#L188

That prevents directly using `make_callback` in this scenario.

What do you think about adding a `?allowed_origins` optional

[2020-02-10 14:56] emillon commented on #186
Since there's only one static file, it's pretty easy to use dune to generate `assets.ml` instead of `crunch`.

Can you try with the following branch:

    git clone https://github.com/emillon/ocaml-graphql-server.git -b crunch-dune

If that fixes the problem I'll open a PR.

[2020-02-10 16:03] DrYSG commented on #186
[code]
I removed the opam switch, since I tend to use esy, and the switch compiler with dune was causing issues.

[2020-02-10 18:54] andreas commented on #187
Yes, that would be great 😄

[2020-02-10 18:55] andreas commented on #186
@DrYSG Please try `dune exec examples/server.exe` instead of `dune build` 😄

[2020-02-11 14:26] DrYSG commented on #186
Yes. that branch works fine. Thank you.

![image](https://user-images.githubusercontent.com/2865368/74245150-8e164280-4cb0-11ea-8825-1e0f18dc180c.png)

[2020-02-11 19:20] DrYSG opened #188 "subscriptions"
I see in your documentation how the schema is defined for subscriptions, but what transport are you doing subscriptions over? WebSockets? If I wanted to hook your code up with ReWeb, where would I look to do this?

more specifically, when I look at examples/server.ml I see a cohttp_lwt server, but I don't see how it is doing websockets for subscriptions.

[2020-02-11 21:05] DrYSG commented on #186
I spoke too soon.

[code]

[2020-02-13 16:23] andreas commented on #188
Subscriptions are exposed via websockets following the protocol described in [`apollographql/subscriptions-transport`](https://github.com/apollographql/subscriptions-transport-ws/blob/master/PROTOCOL.md). I'm not sufficiently familiar with ReWeb to give advice about that, but you can see the websocket handler code [here](https://github.com/andreas/ocaml-graphql-server/blob/940e86f9ff1a017be2ff64b3

[2020-02-18 18:42] cem2ran commented on #185
W.r.t. SDL approach, it looks like the sister project (targeting node.js) has a PR open for SDL parsing & printing! https://github.com/sikanhe/reason-graphql/pull/31

[2020-02-18 19:46] andreas commented on #185
Yeah, unfortunately it's with a handrolled parser rather than using Menhir or similar 😕

[2020-02-18 22:42] cem2ran commented on #185
Right :/

Good news though. The following seems to be:
https://github.com/tahnik/graphqlx/blob/master/src/language/src/parser.mly

Might be missing things such as description. Maybe now is the time I'll finally get to try out Menhir 😄

[2020-03-04 21:18] dwwoelfel opened #189 "Inherit types"
I'm working on implementing a Node interface for OneGraph. Each of our underlying APIs implements its own node interface, so we have `GitHubNode`, `SalesforceNode`,  `IntercomNode`, etc.

To implement the resolver for the `OneGraphNode`, I just need to determine which service the `nodeId` is for, then utilize the existing machinery for resolving a node.

It would look something like:

[code]

It w

[2020-03-05 20:30] andreas commented on #189
I'll try to rephrase your problem more abstractly to make sure I understand correctly:

You have two interfaces `A` and `B`, where `A` defines at least the same fields as `B`. Rather than  specify for all objects that implement `A` also implement `B`, you would like to indicate with `inherit_types` that `B` is a subtype of `A`.

Does that sound right?

I wonder whether it would be better to store

[2020-03-07 00:50] dwwoelfel commented on #189
My use case is a little different than that. In my case, `A` defines different fields than `B`, so it's not a relationship that could be defined by interfaces implementing interfaces.

To make it a bit more concrete, these are my interfaces:

[code]

What I'm looking for is more of a helper to reduce some of the boilerplate of creating my new interface.

Since I've already done all of the work to

[2020-03-07 13:59] andreas commented on #189
Ah, I see. It sounds like there's some domain knowledge that is not expressed in the schema: `B` does not implement `A`, but anything that implements `B` will implement `A`. To explore the idea, _could_ `B` implement `A`?

I wonder if this is a use case that can be generalised so it's more broadly applicable -- any thoughts on this? I would prefer adding a general capability over a very specific o

[2020-03-11 21:32] dwwoelfel commented on #189
Do you think it would be possible to give user code more access to the internals for abstract types?

I could probably do everything I needed if I had two functions, one that gave me all of the types for an abstract type and another that allowed me to construct an `AbstractValue` from an abstract type and a src.

[2020-03-13 19:50] andreas commented on #189
Can you try provide suggested types for these two functions? Just to make sure I understand correctly.  I haven't thought deeply about it, but I think this approach might run into some typing issues.

[2020-03-15 20:59] andreas commented on #188
Closing this for now... please re-open if you have further questions 😄

[2020-03-15 20:59] #188 closed

[2020-03-15 21:20] andreas commented on #189
Another way to address this issue is by relaxing the type guarantees around unions and interfaces. It's generally hard to capture these concepts well without a clunky API, and the current one has its warts too. Interfaces implementing other interfaces will only make this harder.

I've created a proof of concept [on a branch](https://github.com/andreas/ocaml-graphql-server/tree/loosely-typed-abstra

[2020-04-24 03:54] dwwoelfel commented on #189
Sorry for the delay. I tried to write the functions I mentioned, but couldn't figure out a way to do it without an error about types escaping their scope. In the end, I just ended up implementing it without any changes to ocaml-graphql-server. https://www.onegraph.com/schema/interface/OneGraphNode

This looks really nice! We're not really taking advantage of the current type safety, anyway. Seems

[2020-04-24 04:17] dwwoelfel opened #191 "Discussion on query validation"
We'd like to perform query validation against the schema before we execute queries. For reference, the spec includes a handy section on doing validation before execution: http://spec.graphql.org/draft/#sec-Validation

Looking at graphql-js, their validation is handled through a visitor pattern that applies some default validation rules: https://github.com/graphql/graphql-js/blob/master/src/validat

[2020-04-24 19:00] andreas commented on #189
Cool, I'll consider moving forward with this 😎

Yes.

Yeah, I've definitely run into that as well. I have an idea for a design that gets rid of `lazy` for recursive objects.

[2020-04-24 19:10] andreas commented on #191
Validation is definitely a sore point right now. I've previously started on some half-hearted attempts at implementing validation using visitors, e.g. using [`visitors`](https://gitlab.inria.fr/fpottier/visitors), but didn't find it to be a great fit.

I've been very inspired by `graphql-erlang` approach to validation using [bidirectional type checking](https://jlouis.github.io/posts/graphql-bidir

[2020-05-05 05:29] sgrove opened #192 "Allow resolvers to return data *and* errors?"
Right now a single field must return *either* data *xor* error, but this is especially lossy for `list` io_field types. I may succeed on 80/100 items I need (and would like to show to the user), but the errors may be critical, so I discard the 80 items I did retrieve in favor of reporting the 20 errors I encountered.

I know the idea has been brought up before, but I couldn't find it in the list,

[2020-05-10 16:46] sgrove commented on #185
I don't know if that's the worst thing for a production project, given the error messages Menhir or similar tend to produce (not that a handrolled parser will give good error messages by default)...

[2020-07-01 07:48] cironunes commented on #77
@andreas, That would be helpful. Can we reopen the issue?

[2020-07-16 23:40] sgrove opened #193 "@defer and @stream directive support?"
Looks like these two directives will go into the spec soon - any thoughts on how OGS should approach adding them in?

[2020-07-24 11:09] andreas commented on #193
Between the two of them, I think `@defer` will be the easiest to add, as it doesn't require anything special from the resolver. To support `@stream`, the resolver for a list field needs to be able to return a stream of values, which is more tricky. It seems like there are still a lot of details to be worked out for `@defer` and `@stream` in the spec though.

[2020-08-14 23:38] dwwoelfel commented on #31
I've been looking at this, and I think the best approach would be to change the type of `~default` in `arg'` from `'a` to `Graphql_parser.const_value`. From there, you can call `string_of_const_value` to get the `defaultValue` field in the introspection query and `eval_arg` to get the same value of type `'a` that is currently passed to `~default`.

Example

Before
[code]

After
[code]

I looked at

[2020-08-18 16:09] dwwoelfel opened #195 "Nullable defaults args and required default args are impossible to express"
There are two use cases of arg defaultValues that can't be expressed with ocaml-graphql-server.

1. A nullable arg can never be null in the resolver.
2. A non-null arg can't have a default.

Take the valid graphql schema:

[code]

With a resolve function (in js to make it easier to demonstrate what is happening):

[code]

Example of of 1. a nullable arg can never be null in the resolver

[code]

[2020-08-18 19:20] #31 closed

[2020-09-18 15:50] crackerli opened #196 "The server will reject the request from okhttp and dart-lang http"
hi, andreas:

Some of the http lib like okhttp, dart-lang http will append "charset=utf-8" to header "Content-Type" automatically, it will cause the rejection of ocaml-graphql-server, but pity hard to remove it from "Content-Type". Now I use apollo-android and graphql-flutter to develop some app connect to ocaml-graphql-server, I find no workaround to fix it by my side.

Maybe it is easy for serve

[2020-09-18 19:53] andreas commented on #196
Hey @crackerli - yeah, this should be fixed server side. It looks like Cohttp has a method to extract the content type without the charset: `Header.get_media_type`.

Thanks for reporting 🙂

[2020-09-19 01:28] crackerli commented on #196
Thank you much for your quick reponse, andreas

[2020-09-22 14:47] crackerli commented on #196
hi, andreas, when this issue can be fixed?

[2020-09-30 20:25] sgrove opened #197 "Allow for `__typename` to be selected for alongside one other root field in a subscription operation"
In JavaScript, it's common to use the `gql` tag, which (in Apollo's case) will walk the operation and insert `__typename` on each object selection (presumably for its caching mechanism).

So this query:

[code]

becomes:
[code]

Unfortunately, this doesn't play well with subscriptions, where we'll get this error: `Subscription field must have exactly 1 selection, found 2.`

The error makes sense,

[2020-11-12 05:48] #197 closed

[2021-03-29 08:16] #134 closed

[2021-10-05 14:11] EmileTrotignon opened #203 "Websocket conflict"
I was trying to use [Disml](https://mishio595.gitlab.io/disml/disml/Disml/index.html) with Irmin. Irmin depends on graphql.
I cannot link my executable because Disml depends on websocket, and graphql also defines a websocket module. This results in a linking error :
[code]

It should be quite simple to fix, just renaming the Websocket module should do the trick.

[2021-10-06 11:16] EmileTrotignon commented on #203
I have experimented myself, and renaming the websocket module in graphql-cohttp indeed does the trick. Its very easy and fast to do.

[2021-12-11 14:30] pm-mck commented on #196
I made a PR #204 to address this issue (we just hit it too while making a Terraform provider). Let me know if there's anything else needed to get it merged in.

[2022-05-24 15:43] zshipko opened #207 "New release?"
Hey @andreas, when you have the time could you make a new release?

Having #206 and #199 released would be nice and would unblock some work on irmin: https://github.com/mirage/irmin/pull/1843

I’m happy to help with the release if needed!

[2022-07-08 16:30] #207 closed, assigned to nobody

[2022-07-08 16:34] zshipko commented on #207
Thanks!

[2022-07-19 17:42] anmonteiro commented on #191
@andreas did you ever push your WIP branch for this? I'd love to take a look.

[2022-07-20 20:24] andreas commented on #191
I'm afraid I never pushed the branch, and I've lost the code in the transition to another computer. I thought I had a backup, but apparently not 😢

My vague recollection is that the implementation was a transiteration from `graphql-erlang` (primarily [this file](https://github.com/jlouis/graphql-erlang/blob/master/src/graphql_check.erl)). I remember the theoretical aspects of bidirectional type ch